In [1]:
# pip3 install mysql-connector-python
import mysql.connector as sq

# import mysql.connector
# from mysql.connector import Error
# def connect():                   #Connect to MySQL database
#     conn = None 
#     try:
#         conn = mysql.connector.connect(host='localhost',database='python_mysql',user='root',password='SecurePass1!')
#         if conn.is_connected():
#             print('Connected to MySQL database')
#     except Error as e:
#         print(e)
#     finally:
#         if conn is not None and conn.is_connected():
#             conn.close()
# if __name__ == '__main__':
#     connect()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
cn = sq.connect(
  host ="localhost",
  user ="user",
  passwd ="password"
)
 
print(cn)
  
cn.close()

In [ ]:
#creating database 
cur = cn.cursor()
cur.execute("CREATE DATABASE gfg")

In [ ]:
#connecting database and creating table
cn = sq.connect(
  host ="localhost",
  user ="user",
  passwd ="password"
  database=  "gfg"
)

cur = cn.cursor()

# creating table
studentRecord = """CREATE TABLE STUDENT (
                   NAME  VARCHAR(20) NOT NULL,
                   BRANCH VARCHAR(50),
                   ROLL INT NOT NULL,
                   SECTION VARCHAR(5),
                   AGE INT
                   )"""
  
# table created
cur.execute(studentRecord)

cn.close()

In [ ]:
#inserting values to table

query = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE) VALUES (%s, %s, %s, %s, %s)"
val = ("Ram", "CSE", "85", "B", "19")

# for multiple values insertion

# val = [("Nikhil", "CSE", "98", "A", "18"),
#        ("Nisha", "CSE", "99", "A", "18"),
#        ("Rohan", "MAE", "43", "B", "20"),
#        ("Amit", "ECE", "24", "A", "21"),
#        ("Anil", "MAE", "45", "B", "20"),
#        ("Megha", "ECE", "55", "A", "22"),
#        ("Sita", "CSE", "95", "A", "19")]
 
cur.execute(query, val)             #for single
# cur.executemany(query, val)       #for multiple

cn.commit()
cn.close()

In [ ]:
#Feching


# Display table names

cur.execute("Show tables;")
myresult = cur.fetchall()
 
for x in myresult:
    print(x)

In [ ]:
query = "SELECT NAME, ROLL FROM STUDENT"

cur.execute(query)
   
myresult = cur.fetchall()
   
for x in myresult:
    print(x)
 
cn.close()

In [ ]:
query = "UPDATE STUDENT SET AGE = 23 WHERE Name ='Ram'"
cur.execute(query)
cn.commit()
cn.close()

In [ ]:
query = "DELETE FROM STUDENT WHERE NAME = 'Ram'"
cur.execute(query)
cn.commit()
cn.close()

In [ ]:
query ="DROP TABLE Student;"
cur.execute(query)
cn.commit()
cn.close()