In [55]:
import random
print(random.random())
print(random.randrange(10))
print(random.randrange(0,101,2)) #even numbers
print(random.uniform(2.5, 10.0))
print(random.getrandbits(6))  #Returns a non-negative Python integer with k random bits

deck = 'ace two three four'.split()
print(random.choice(deck))
print(random.choices(deck,k =2)) # random.choices(sequence, weights=None, cum_weights=None, k=1)

#print(random.shuffle(d))    removed this function from 3.9version

0.584824256088673
1
92
9.291269876234958
22
two
['two', 'four']

In [56]:
import numpy as np  
print(np.random.rand(3,2) ) #3rows 2 columns data
print(np.random.randn(2,2) ) 

print(np.random.randint(66) )#random.randint(low,high=None,size=None,dtype=int) random int number
print(np.random.rand())  #random float number

print(np.random.random_sample(4))
print(np.random.uniform(0,1,10))
print(np.random.normal(size = 4))

[[0.36500439 0.07590634]
 [0.50260587 0.42046092]
 [0.74090126 0.14000385]]
[[ 0.03427957 -0.62194212]
 [-0.47450314  0.03273906]]
55
0.6038518753802168
[0.6646569  0.45766362 0.61616915 0.85077158]
[0.85342144 0.92049565 0.04369708 0.49765124 0.5327268  0.54893745
 0.92848203 0.06972606 0.48759859 0.58250347]
[ 0.06446634 -0.64743932  0.74391595  1.13762137]

In [4]:
import time
print(time.time())  #number of ticks spent since 12 AM, 1st January 1970 
print(time.localtime(time.time()))  #Currenttime
print(time.asctime(time.localtime(time.time())))  ##returns the formatted time 
print(time.sleep(1)) #used to stop the execution for 1sec
print(time.tzname) #provides timezone name
print(time.timezone) #timezone offset in seconds

1650190189.565764
time.struct_time(tm_year=2022, tm_mon=4, tm_mday=17, tm_hour=15, tm_min=39, tm_sec=49, tm_wday=6, tm_yday=107, tm_isdst=0)
Sun Apr 17 15:39:49 2022
None
('India Standard Time', 'India Daylight Time')
-19800

In [35]:
import calendar
print(calendar.isleap(2022))#leapyear or not
print(calendar.leapdays(2015, 2018))
print(calendar.weekday(2022, 4, 17))
print(calendar.prcal(2022))#full calender
print(calendar.calendar(2016))
print(calendar.prmonth(2021,3))#full month 
print(calendar.month(2016,5))
print(calendar.monthrange(2022,1))
print(calendar.firstweekday()) #Monday
print(calendar.day_name)
print(calendar.month_name)
print(calendar.monthcalendar(2022, 4)) #Returns a matrix representing a monthâ€™s calendar. Each row represents a week; days outside of the month are represented by zeros. Each week begins with Monday unless set by setfirstweekday().
print(calendar.setfirstweekday(calendar.MONDAY))

False
1
6
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31
None
                                  2016

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7          1  2  3  4  5  6
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       7  8  9 10 11 12 13
11 12 13 14 15 16 17      15 16 17 18 19 20 21      14 15 16 17 18 19 20
18 19 20 21 22 23 24      22 23 24 25 26 27 28      21 22 23 24 25 26 27
25 26 27 28 29 30 31      29                        28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

     March 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
None
      May 2016
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

(5, 31)
0
<calendar._localized_day object at 0x000001DF9A54F130>
<calendar._localized_month object at 0x000001DF9A54F1F0>
[[0, 0, 0, 0, 1, 2, 3], [4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 0]]
None

In [22]:
print(calendar.MONDAY)  #where MONDAY is 0 and  is 6.
print(calendar.SUNDAY)

SyntaxError: invalid syntax (Temp/ipykernel_17160/1908862345.py, line 4)

In [5]:
import datetime
print(datetime.time())
print(datetime.date.today())

00:00:00
2022-04-17

In [6]:
dt=datetime.datetime.now()
print(dt)
print(dt.year)
print(dt.month)
print(dt.day)
print(dt.hour)
print(dt.minute)
print(dt.second)
print(dt.tzinfo)
print(dt.timestamp())

2022-04-17 15:39:50.714299
2022
4
17
15
39
50
None
1650190190.714299