In [1]:
import requests
import pandas as pd
import io

### Part 1 - Retrieving transaction data

In [2]:
def get_transactions(identifier: str) -> pd.DataFrame:
    '''
    Returns a dataframe with columns 'IDENTIFIER','TIME_PERIOD','OBS_VALUE'
    Parameters:
        identifier(str) : Data Identifier
    return:
        data(dataframe) : Returns a dataframe with column 'IDENTIFIER','TIME_PERIOD','OBS_VALUE'
    '''
    url = 'https://sdw-wsrest.ecb.europa.eu/service/data/BP6/'
    key = identifier+'?detail=dataonly'
    requested_url = url+key
    response = requests.get(requested_url, headers={'Accept': 'text/csv'})
    data = pd.read_csv(io.StringIO(response.text))
    data['IDENTIFIER']=identifier
#     d=data[['IDENTIFIER','TIME_PERIOD','OBS_VALUE']]
    d=data[['IDENTIFIER','TIME_PERIOD','OBS_VALUE']]
#     data=data.replace({'IDENTIFIER':'BP6.',},'',inplace=True)
    return d

In [3]:
try:
    print(get_transactions('Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N'))
except Exception as ex:
    print(ex)

                                   IDENTIFIER TIME_PERIOD      OBS_VALUE
0   Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     1999-Q1   55420.181862
1   Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     1999-Q2   87003.970961
2   Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     1999-Q3   40331.868800
3   Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     1999-Q4  190788.918229
4   Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2000-Q1   97279.053100
..                                        ...         ...            ...
88  Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2021-Q1  127494.694321
89  Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2021-Q2    -485.698879
90  Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2021-Q3   45756.140798
91  Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2021-Q4  -24103.552317
92  Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N     2022-Q1   66657.274676

[93 rows x 3 columns]

### Part 2 - Retrieving data for the formula

In [92]:
def get_formula_data(formula: str) -> pd.DataFrame:

    '''
    Takes 
    '''
    x=formula.split('=')
    if '+' in x[1]:
        n=x[1].split('+')
    elif '-' in x:
        n=x[1].split('-')
        
    p=get_transactions(n[0])
    q=get_transactions(n[1])
    p.rename(columns={'OBS_VALUE':n[0]}, inplace = True)
    p[n[1]]=q['OBS_VALUE']
    p.drop('IDENTIFIER',axis=1,inplace =True)
    p.set_index('TIME_PERIOD',inplace=True)
    return p

In [93]:
try:   
    print(get_formula_data('Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N =Q.N.I8.W1.S1P.S1.T.A.FA.D.F._Z.EUR._T._X.N +Q.N.I8.W1.S1Q.S1.T.A.FA.D.F._Z.EUR._T._X.N'))
except Exception as ex:
    print(ex)

             Q.N.I8.W1.S1P.S1.T.A.FA.D.F._Z.EUR._T._X.N  \
TIME_PERIOD
2008-Q1                                   158849.702543
2008-Q2                                    55317.060368
2008-Q3                                   136186.079719
2008-Q4                                    19164.430917
2009-Q1                                    81747.492243
2009-Q2                                     4359.016090
2009-Q3                                    97404.319922
2009-Q4                                   101643.610182
2010-Q1                                    88749.530838
2010-Q2                                   132526.124345
2010-Q3                                   112994.937630
2010-Q4                                    16926.193848
2011-Q1                                   164778.610574
2011-Q2                                    66837.705827
2011-Q3                                   101404.079957
2011-Q4                                   164334.913637
2012-Q1                                   169722.186722
2012-Q2                                   117239.335351
2012-Q3                                   133626.431744
2012-Q4                                   140848.462567
2013-Q1                                   138388.828821
2013-Q2                                   144192.643373
2013-Q3                                    88088.489966
2013-Q4                                   242041.466429
2014-Q1                                    54212.399505
2014-Q2                                    26641.229152
2014-Q3                                   106861.559073
2014-Q4                                    59604.099749
2015-Q1                                   370161.044006
2015-Q2                                   142614.592243
2015-Q3                                   175379.413382
2015-Q4                                   352086.157166
2016-Q1                                   180557.230165
2016-Q2                                    70593.969401
2016-Q3                                    88720.990044
2016-Q4                                    81070.606253
2017-Q1                                   251676.575337
2017-Q2                                   137155.860125
2017-Q3                                  -106186.749274
2017-Q4                                    48947.025517
2018-Q1                                    74065.815517
2018-Q2                                    28328.305631
2018-Q3                                   -97283.996926
2018-Q4                                  -319678.695677
2019-Q1                                   145070.021743
2019-Q2                                  -160005.144186
2019-Q3                                   181221.163061
2019-Q4                                  -168947.195090
2020-Q1                                   -51147.157016
2020-Q2                                    47926.737922
2020-Q3                                    27044.374238
2020-Q4                                   -42402.067170
2021-Q1                                   126771.125293
2021-Q2                                     5450.255014
2021-Q3                                    42567.052328
2021-Q4                                   -25835.392215
2022-Q1                                             NaN

             Q.N.I8.W1.S1Q.S1.T.A.FA.D.F._Z.EUR._T._X.N
TIME_PERIOD
2008-Q1                                   158813.745366
2008-Q2                                    55136.813191
2008-Q3                                   136268.122542
2008-Q4                                    20203.473740
2009-Q1                                    81847.793872
2009-Q2                                     4460.404719
2009-Q3                                    97584.621551
2009-Q4                                   102102.934811
2010-Q1                                    88631.982291
2010-Q2                                   132497.565798
2010-Q3                                   113067.389083
2010-Q4                                    16908.611301
2011-Q1                                   164649.384132
2011-Q2                                    66581.579385
2011-Q3                                   101453.853515
2011-Q4                                   164375.733195
2012-Q1                                   169297.991022
2012-Q2                                   117163.013651
2012-Q3                                   133730.347044
2012-Q4                                   140860.361867
2013-Q1                                   138371.753430
2013-Q2                                   144062.318905
2013-Q3                                    87702.442548
2013-Q4                                   241987.477502
2014-Q1                                    54102.920963
2014-Q2                                    24960.803510
2014-Q3                                   107398.182549
2014-Q4                                    59472.719817
2015-Q1                                   370245.874029
2015-Q2                                   142687.542671
2015-Q3                                   175401.176835
2015-Q4                                   351626.326332
2016-Q1                                   180705.633075
2016-Q2                                    70721.878110
2016-Q3                                    88862.995634
2016-Q4                                    81034.706972
2017-Q1                                   251749.430608
2017-Q2                                   137363.689582
2017-Q3                                  -106046.428961
2017-Q4                                    49156.193621
2018-Q1                                    74026.110322
2018-Q2                                    28382.936285
2018-Q3                                   -97192.733862
2018-Q4                                  -319556.212061
2019-Q1                                   145014.010984
2019-Q2                                  -159933.230739
2019-Q3                                   181289.097134
2019-Q4                                  -168855.822006
2020-Q1                                   -51082.669281
2020-Q2                                    48001.705196
2020-Q3                                    27130.357017
2020-Q4                                   -42532.442352
2021-Q1                                   126710.255896
2021-Q2                                     5386.310761
2021-Q3                                    42625.681438
2021-Q4                                   -25793.606177
2022-Q1                                    64463.866001

### Part 3 - Computing the aggregates

In [110]:
def compute_aggregates(formula: str) -> pd.DataFrame:
    df=get_transactions(formula)
    
    x=formula.split('=')
    if '+' in x[1]:
        n=x[1].split('+')
    elif '-' in x:
        n=x[1].split('-')
        
    df[x[0]]=df[n[0]]+df[n[1]]
    print(df)

In [112]:
compute_aggregates('Q.N.I8.W1.S1.S1.T.A.FA.D.F._Z.EUR._T._X.N =Q.N.I8.W1.S1P.S1.T.A.FA.D.F._Z.EUR._T._X.N +Q.N.I8.W1.S1Q.S1.T.A.FA.D.F._Z.EUR._T._X.N')