In [1]:
import requests
import pandas as pd
import io

### Part 1 - Retrieving exchange rates

In [11]:
def get_exchange_rate(source: str, target: str = 'EUR') -> pd.DataFrame:
    '''
    Returns a dataframe with columns time_period and obs_value
    Parameters:
        source(str) : A source currency
        target(str) : A target currency, default currency is EUR
    return:
    
        data(dataframe) : Returns a dataframe with column Time_period and ob_value
    '''
    url = 'https://sdw-wsrest.ecb.europa.eu/service/data/EXR/'
    
    currency = 'M'+'.'+source+'.'+target+'.'+'SP00'+'.'+'A'+'?detail=dataonly'
    request_url = url+currency
    response = requests.get(request_url, headers={'Accept': 'text/csv'})
    data = pd.read_csv(io.StringIO(response.text), usecols=['TIME_PERIOD', 'OBS_VALUE'])
    return data

In [12]:
try:
    print(get_exchange_rate('GBP'))
except Exception as ex:
    print(ex)

    TIME_PERIOD  OBS_VALUE
0       1999-01   0.702913
1       1999-02   0.688505
2       1999-03   0.671270
3       1999-04   0.665018
4       1999-05   0.658252
..          ...        ...
276     2022-01   0.835034
277     2022-02   0.837873
278     2022-03   0.836383
279     2022-04   0.836550
280     2022-05   0.849685

[281 rows x 2 columns]

### Part 2 - Retrieving other data

In [4]:
def get_raw_data(identifier: str) -> pd.DataFrame:
    '''
    Returns a dataframe with columns time_period and obs_value
    Parameters:
        identifier(str) : Data Identifier
    return:
        data(dataframe) : Returns a dataframe with column Time_period and ob_value
    '''
    url = 'https://sdw-wsrest.ecb.europa.eu/service/data/BP6/'
    key = identifier+'?detail=dataonly'
    requested_url = url+key
    response = requests.get(requested_url, headers={'Accept': 'text/csv'})
    data = pd.read_csv(io.StringIO(response.text), usecols=['TIME_PERIOD', 'OBS_VALUE'])
    return data

In [5]:
try:
    print(get_raw_data('M.N.I8.W1.S1.S1.T.N.FA.F.F7.T.EUR._T.T.N'))
except Exception as ex:
    print(ex)

    TIME_PERIOD    OBS_VALUE
0       1999-01  1427.666667
1       1999-02   379.666667
2       1999-03 -1597.333333
3       1999-04 -3788.666667
4       1999-05  1690.333333
..          ...          ...
275     2021-12  4303.554729
276     2022-01  3780.888021
277     2022-02 -1033.570596
278     2022-03 -1855.347220
279     2022-04  8696.701376

[280 rows x 2 columns]

### Part 3 - Data transformation

In [25]:
def get_data(identifier: str,target_currency:str=None) -> pd.DataFrame:
    '''
    Returns a dataframe with columns time_period and obs_value
    Parameters:
        identifier(str) : Data Identifier
        target_currency : A target currency, default currency is None
    return:
        data(dataframe) : Returns a dataframe with column Time_period and ob_value
        
    '''
    if target_currency != None:
        return get_exchange_rate(target_currency)
    else:
        return get_raw_data(identifier)

In [26]:
try:
    print(get_data('M.N.I8.W1.S1.S1.T.N.FA.F.F7.T.EUR._T.T.N', 'GBP'))
except Exception as ex:
    print(ex)

    TIME_PERIOD  OBS_VALUE
0       1999-01   0.702913
1       1999-02   0.688505
2       1999-03   0.671270
3       1999-04   0.665018
4       1999-05   0.658252
..          ...        ...
276     2022-01   0.835034
277     2022-02   0.837873
278     2022-03   0.836383
279     2022-04   0.836550
280     2022-05   0.849685

[281 rows x 2 columns]