In [ ]:
select name, email, phone_number
from authors
union
select name, email, phone_number
from editors



#The MySQL UNION ALL operator is used to combine the result sets of 2 or more SELECT statements. It returns all rows from the query and it does not remove duplicate rows between the various SELECT statements.
SELECT supplier_id
FROM suppliers
UNION ALL
SELECT supplier_id
FROM orders;


right same as left

FULL JOIN/full outer join  == left+right(the values not matched in left and right prints one after another)

cross join

In [ ]:
inner join- from 2 tables on condition which are same those rows only prints

SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers 
ON Orders.CustomerID=Customers.CustomerID;

In [ ]:
left join - on condition which are same it prints like select  name , column ....
name from t1 and column from t2 on condtion only 5 of 10 column rows match then name will entirely prints but column only 5 remaining as null

SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;

In [ ]:
right join --here entire right prints and on condtion which are same of left those prints remaining print as null

SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;

In [ ]:
FULL JOIN or FULL OUTER JOIN keyword is used to select all records from the left table and right table. It combines both tables into

SELECT column_name(s)
FROM table1
FULL JOIN table2
ON table1.column_name = table2.column_name;

In [ ]:
CROSS JOIN is used to combine each row of the first table with each row of the second table.

SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
CROSS JOIN Orders
WHERE Customers.CustomerID=Orders.CustomerID;