In [2]:
import pandas as pd
import numpy as np
import pyspark
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [8]:
psdf = pd.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

In [9]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [1]:
from platform import python_version

In [2]:
python_version()

'3.9.12'