In [ ]:
select max(purchase_amount) from Orders;

In [ ]:
#2nd highest
select max(purchase_amount) from Orders where purchase_amount<(select max(purchase_amount) from Orders);

In [ ]:
#3rd highest
select max(purchase_amount) from Orders where purchase_amount<(select max(purchase_amount) from Orders where purchase_amount<(select max(purchase_amount) from Orders));

In [ ]:
Instead of max we can use min fun to find.

In [ ]:
select UPPER(customer_name) from customer;

In [ ]:
select * from customer where city='New York';
select count(*) from customer where city='New York';

In [ ]:
select concat(customer_name,city) as Fullname from customer;
select concat(customer_name,' ',city) as Fullname from customer;

In [ ]:
 select substring(customer_name,1,4) from customer;

In [ ]:
create table copied as select * from customer; #copy table

In [ ]:
select customer_name from customer where customer_name like 'J%';
select customer_name from customer where customer_name like 'J__'; #empty set because no name of 3 letters
select customer_name from customer where customer_name like 'J%e_';

In [ ]:
select * from customer order by customer_id ASC;
 select * from customer order by customer_id ASC limit 2; #only first 2 printss

In [ ]:
drop table copied;
drop database copied;

In [ ]:
 select count(*) from Orders;# no. of rows

In [ ]:
select purchase_amount from Orders where purchase_amount between 200 and 300;

In [ ]:
select distinct city from customer;

In [ ]:
select * from customer where grade is null;

In [ ]:
select * from salesman where city in(select city from customer);

In [ ]:
 select city,count(*) as Man from customer group by city having count(*)>1;

In [ ]:
select length(customer_name) from customer;
select char_length(customer_name) from customer;

In [ ]:
select sum(purchase_amount) from Orders;

In [ ]:
select s.name,s.city,c.customer_name from salesman s, customer c where c.city=s.city;

In [ ]:
 select s.name,c.customer_name from salesman s, customer c where c.salesman_id=s.salesman_id;

In [ ]:
SELECT ord_no, customer_name, Orders.customer_id, Orders.salesman_id FROM salesman, customer, Orders WHERE customer.city <> salesman.city AND Orders.customer_id = customer.customer_id AND Orders.salesman_id = salesman.salesman_id;

In [ ]:
select * from customer 
union 
select * from Orders; # it addes to below the table

In [ ]:
 select s.name,c.customer_name,c.grade from salesman s
    ->inner join customer c
    ->on s.salesman_id=c.salesman_id
    ->;